.welcomeHeaderDiv {
    background: #828280;
    opacity: 0.9;
    border: 1px solid black;
    padding: 15px;
    background-clip: padding-box;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 300px;
}