.itemsList {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 25px;
}

.itemHeader {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.itemsDiv {
    display: flex;
    border-color: 1px solid black;
}

.itemBox {
    display: flex;
    justify-content: center
}